[Unit]
Description=Wallpaper Daemon Service
Wants=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service network.target local-fs.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/wallpaperloader /usr/share/wall/wall.jpg

[Install]
WantedBy=network-online.target
