[Unit]
Description=Wallpaper Daemon Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/wallpaperloader /usr/share/wall/wall.jpg

[Install]
WantedBy=multi-user.target
