Package: wallpaperloader
Version: 1.0
Provides: wallpaperloader
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Roman Covanyan <rs@tsov.pro>
Description: WallPaperLoader 1.0
 WallPaperLoader 1.0 daemon hourly load and write into file /usr/share/wall/wall.jpg a random wallpaper from images.yandex.ru, Bing or Unsplash

